altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
coloredlogs==15.0
humanfriendly==9.1
idna==2.10
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
python-dotenv==0.15.0
requests==2.25.1
semver==2.13.0
tabulate==0.8.9
tqdm==4.59.0
urllib3==1.26.3
